# your discord bot token
DISCORD_TOKEN=""

# soundcloud client ID (https://github.com/zackradisic/node-soundcloud-downloader#client-id)
SOUNDCLOUD_CLIENT_ID=""

# (optional) provide youtube cookie to bypass age-restricted video
YOUTUBE_COOKIE=""

# (optional) for searching youtube music through spotify track info/url
SPOTIFY_API_CLIENT_ID=""
SPOTIFY_API_CLIENT_SECRET=""